<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/auth.css"/>
    <script defer src="/js/face-api.min.js"></script>
    <script defer src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js"
            integrity="sha512-AQMSn1qO6KN85GOfvH6BWJk46LhlvepblftLHzAv1cdIyTWPBKHX+r+NOXVVw6+XQpeW4LJk/GTmoP48FLvblQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<nav>
    <div class="nav-container pd-horizon">
        <div class="nav-left">로고</div>
        <div class="nav-right">
            <div class="nav-component">
                <p>시험</p>
            </div>
            <div class="nav-component">
                <p>시험 결과</p>
            </div>
        </div>
    </div>
</nav>
<main class="pd-horizon main">
    <div class="auth-modal">
        <div class="img-container">
            <div class="image-div" id="camera"></div>
            <div class="image-div" id="captureImg"></div>
        </div>
        <div>
            <button class="button" id="snapshot-btn" onclick="take_snapshot()" disabled>개인정보동의</button>
            <button class="button" id="verify-btn" type="button" value="verify" disabled>verify</button>
        </div>
        <div id=results></div>
    </div>
</main>
</body>
<script>

</script>
</html>