<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/test.css"/>
</head>
<body>
<nav>
    <div class="nav-container pd-horizon">
        <div class="nav-left">로고</div>
        <div class="nav-right">
            <div class="nav-component">
                <p>시험</p>
            </div>
            <div class="nav-component">
                <p>시험 결과</p>
            </div>
        </div>
    </div>
</nav>
<main class="pd-horizon main">
    <div class="test-container">
        <div class="test-component">
            <p>test component</p>
        </div>
        <div class="test-component">
            <p>test component</p>
        </div>
        <div class="test-component">
            <p>test component</p>
        </div>
        <div class="test-component">
            <p>test component</p>
        </div>
        <div class="test-component">
            <p>test component</p>
        </div>
        <div class="test-component">
            <p>test component</p>
        </div>
        <div class="test-component">
            <p>test component</p>
        </div>
    </div>
</main>
</body>
<script>

</script>
</html>